<h1>Books</h1>
<p>title</P>       <P>body</p>
<% @bookers.each do |book| %>
<span><%= book.title %></span>
<span><%= book.body %></span>
<span><%= link_to "show" , booker_path(book.id) %></span>
<% end %>

<h1>New Book</h1>
<%= form_with model:@booker ,  local:true do |f| %>
<h4>title</h4>
<%= f.text_field :title %>
<h4>body</h4>
<%= f.text_area :body %>
<%= f.submit "Create Book" %>
<% end %>
